<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>This is Display of Accessrecord</h1>
        <table border="3px">
            <tr>
                <th>id</th>
                <th>name</th>
                <th>author</th>
                <th>date</th>
            </tr>
            
    {% for TO in QLAO %}
            <tr>
                <td>{{TO.id}}</td>
                <td>{{TO.name}}</td>
                <td>{{TO.author}}</td>
                <td>{{TO.date}}</td>
            </tr>
    {% endfor %}
        </table>
    </center>



</body>
</html>