<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>Display of Department</h1>
    <table border="3px">
        <tr>
            <th>det_no</th>
            <th>dname</th>
            <th>loc</th>
        </tr>
        {% for DO in QLDO %}
        <tr>
            <td>{{DO.dept_no}}</td>
            <td>{{DO.dname}}</td>
            <td>{{DO.loc}}</td>
        </tr>
        {% endfor %}
        
    </table>
    </center>
</body>
</html>