{% extends 'dummy.html' %}

    {% block title %}
    <title>Amazon</title>
    {% endblock %}

{% block body_block %}

<center><a href="{% url 'app2:specific2' %}">Woman Watches & Bags</a></center>

<div class="container-fluid">
        <div class="row mt-3">
            <div class="col-3">
                <div class="card">
                <div class="card-header">
                    <img class="img-fluid" src="https://ae01.alicdn.com/kf/HTB18ifCXiDxK1RjSsphq6zHrpXa0/Wristwatch-Women-Unique-Round-Case-Bracelet-Watches-Female-Stainless-Steel-Band-Bangle-Watch-Ladies-Quartz-Clock.jpg" alt="">

                </div>
                <div class="card-body">
                    <h4 class="text-center card-title">Bracelet Watch</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quisquam porro possimus animi? Quos saepe, modi vero officia pariatur placeat aliquid delectus amet ex dolorum rem maxime nobis corporis omnis.
                    Veniam, repudiandae culpa. Sit, officia sapiente. Provident itaque commodi eos quod quisquam vero amet in obcaecati illo aliquam beatae cumque tenetur natus, illum iure neque inventore expedita? Magnam, facere non.</p>
                    <button class="btn btn-primary">Buy Now</button>
                </div>
                </div>
        </div>
    
  
        <div class="col-3">
            <div class="card">
            <div class="card-header">
                <img class="img-fluid" src="https://ae01.alicdn.com/kf/HTB18ifCXiDxK1RjSsphq6zHrpXa0/Wristwatch-Women-Unique-Round-Case-Bracelet-Watches-Female-Stainless-Steel-Band-Bangle-Watch-Ladies-Quartz-Clock.jpg" alt="">

            </div>
            <div class="card-body">
                <h4 class="text-center card-title">Bracelet Watch</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quisquam porro possimus animi? Quos saepe, modi vero officia pariatur placeat aliquid delectus amet ex dolorum rem maxime nobis corporis omnis.
                Veniam, repudiandae culpa. Sit, officia sapiente. Provident itaque commodi eos quod quisquam vero amet in obcaecati illo aliquam beatae cumque tenetur natus, illum iure neque inventore expedita? Magnam, facere non.</p>
                <button class="btn btn-primary">Buy Now</button>
            </div>
            </div>
        </div>

   
        <div class="col-3">
            <div class="card">
            <div class="card-header">
                <img class="img-fluid" src="https://ae01.alicdn.com/kf/HTB18ifCXiDxK1RjSsphq6zHrpXa0/Wristwatch-Women-Unique-Round-Case-Bracelet-Watches-Female-Stainless-Steel-Band-Bangle-Watch-Ladies-Quartz-Clock.jpg" alt="">

            </div>
            <div class="card-body">
                <h4 class="text-center card-title">Bracelet Watch</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quisquam porro possimus animi? Quos saepe, modi vero officia pariatur placeat aliquid delectus amet ex dolorum rem maxime nobis corporis omnis.
                Veniam, repudiandae culpa. Sit, officia sapiente. Provident itaque commodi eos quod quisquam vero amet in obcaecati illo aliquam beatae cumque tenetur natus, illum iure neque inventore expedita? Magnam, facere non.</p>
                <button class="btn btn-primary">Buy Now</button>
            </div>
            </div>
    </div>

        <div class="col-3">
            <div class="card">
            <div class="card-header">
                <img class="img-fluid" src="https://ae01.alicdn.com/kf/HTB18ifCXiDxK1RjSsphq6zHrpXa0/Wristwatch-Women-Unique-Round-Case-Bracelet-Watches-Female-Stainless-Steel-Band-Bangle-Watch-Ladies-Quartz-Clock.jpg" alt="">

            </div>
            <div class="card-body">
                <h4 class="text-center card-title">Bracelet Watch</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quisquam porro possimus animi? Quos saepe, modi vero officia pariatur placeat aliquid delectus amet ex dolorum rem maxime nobis corporis omnis.
                Veniam, repudiandae culpa. Sit, officia sapiente. Provident itaque commodi eos quod quisquam vero amet in obcaecati illo aliquam beatae cumque tenetur natus, illum iure neque inventore expedita? Magnam, facere non.</p>
                <button class="btn btn-primary">Buy Now</button>
            </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card">
            <div class="card-header">
                <img class="img-fluid" src="https://ae01.alicdn.com/kf/HTB18ifCXiDxK1RjSsphq6zHrpXa0/Wristwatch-Women-Unique-Round-Case-Bracelet-Watches-Female-Stainless-Steel-Band-Bangle-Watch-Ladies-Quartz-Clock.jpg" alt="">

            </div>
            <div class="card-body">
                <h4 class="text-center card-title">Bracelet Watch</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quisquam porro possimus animi? Quos saepe, modi vero officia pariatur placeat aliquid delectus amet ex dolorum rem maxime nobis corporis omnis.
                Veniam, repudiandae culpa. Sit, officia sapiente. Provident itaque commodi eos quod quisquam vero amet in obcaecati illo aliquam beatae cumque tenetur natus, illum iure neque inventore expedita? Magnam, facere non.</p>
                <button class="btn btn-primary">Buy Now</button>
            </div>
            </div>
        </div>

        <div class="col-3">
            <div class="card">
            <div class="card-header">
                <img class="img-fluid" src="https://ae01.alicdn.com/kf/HTB18ifCXiDxK1RjSsphq6zHrpXa0/Wristwatch-Women-Unique-Round-Case-Bracelet-Watches-Female-Stainless-Steel-Band-Bangle-Watch-Ladies-Quartz-Clock.jpg" alt="">

            </div>
            <div class="card-body">
                <h4 class="text-center card-title">Bracelet Watch</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quisquam porro possimus animi? Quos saepe, modi vero officia pariatur placeat aliquid delectus amet ex dolorum rem maxime nobis corporis omnis.
                Veniam, repudiandae culpa. Sit, officia sapiente. Provident itaque commodi eos quod quisquam vero amet in obcaecati illo aliquam beatae cumque tenetur natus, illum iure neque inventore expedita? Magnam, facere non.</p>
                <button class="btn btn-primary">Buy Now</button>
            </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
            <div class="card-header">
                <img class="img-fluid" src="https://ae01.alicdn.com/kf/HTB18ifCXiDxK1RjSsphq6zHrpXa0/Wristwatch-Women-Unique-Round-Case-Bracelet-Watches-Female-Stainless-Steel-Band-Bangle-Watch-Ladies-Quartz-Clock.jpg" alt="">

            </div>
            <div class="card-body">
                <h4 class="text-center card-title">Bracelet Watch</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quisquam porro possimus animi? Quos saepe, modi vero officia pariatur placeat aliquid delectus amet ex dolorum rem maxime nobis corporis omnis.
                Veniam, repudiandae culpa. Sit, officia sapiente. Provident itaque commodi eos quod quisquam vero amet in obcaecati illo aliquam beatae cumque tenetur natus, illum iure neque inventore expedita? Magnam, facere non.</p>
                <button class="btn btn-primary">Buy Now</button>
            </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
            <div class="card-header">
                <img class="img-fluid" src="https://ae01.alicdn.com/kf/HTB18ifCXiDxK1RjSsphq6zHrpXa0/Wristwatch-Women-Unique-Round-Case-Bracelet-Watches-Female-Stainless-Steel-Band-Bangle-Watch-Ladies-Quartz-Clock.jpg" alt="">

            </div>
            <div class="card-body">
                <h4 class="text-center card-title">Bracelet Watch</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda quisquam porro possimus animi? Quos saepe, modi vero officia pariatur placeat aliquid delectus amet ex dolorum rem maxime nobis corporis omnis.
                Veniam, repudiandae culpa. Sit, officia sapiente. Provident itaque commodi eos quod quisquam vero amet in obcaecati illo aliquam beatae cumque tenetur natus, illum iure neque inventore expedita? Magnam, facere non.</p>
                <button class="btn btn-primary">Buy Now</button>
            </div>
            </div>
        </div>
</div>

<div class="container-fluid p-3">
    <div class="row bg-dark text-white">
        <div class="col-1">
            <h5 class="text-white-50">About</h5>
            <a href="">Contact Us</a>
            <a href="">About Us</a>
            <a href="">Carrers</a>
            <a href="">Flipkart Stories</a><br>
            <a href="">Press</a>
        </div>
 
    <div class="col-1">
        <h6 class="text-white-50">GROUP COMPANIES</h6>
        <a href="">Myntra</a>
        <a href="">Cleartrip</a>
        <a href="">Shopsy</a>
    </div>
    <div class="col-1">
        <h6 class="text-white-50">HELP</h6>
        <a href="">Payments</a>
        <a href="">Shipping</a>
        <a href="">Cancellation & Returns</a>
        <a href="">FAQ</a>
    </div>
    <div class="col-1">
        <h6 class="text-white-50">CONSUMER POLICY</h6>
        <a href="">Cancellation & Returns</a>
        <a href="">Terms of Uses</a>
        <a href="">Security</a>
        <a href="">Privacy</a>
        <a href="">Sitemap</a>
        <a href="">Grievance Redressal</a>
        <a href="">ERP Compliance</a>
    </div>
    <div class="col-3">
        <h5 class="text-white-50">Mail Us</h5>
        <p>Amazon Internet Privated Limited,
        Bulding Alyssa Begonia & 
        Clove Embassy Tech Village,
        Outer Ring Road, Devarabeesanahalli Village,
        Bengaluru,560103,
        Karnataka,India</p>
        
    </div>
    <div class="col-3">
        <h5 class="text-white-50">Registered Office Address</h5>
        <p>Amazon Internet Privated Limited,
            Bulding Alyssa Begonia & 
            Clove Embassy Tech Village,
            Outer Ring Road, Devarabeesanahalli Village,
            Bengaluru,560103,
            Karnataka,India
            CIN : U51109KA2012PTC066107 
            Telephone: 044-45614700/044-67415800
        </p>
    </div>
</div>
</div>


{% endblock %}
