{% extends 'app/dummy.html' %}

{% block title %}
    <title>Schoool_Detail</title>
{% endblock %}


{% block body_block %}
 <center>
    
        <h1>School_Detail</h1>

        <h1>School Name is {{RetrieveSO.scname}}</h1>
        <h1>School Location is {{RetrieveSO.scloc}}</h1>
        <h1>School Principal is {{RetrieveSO.scprincipal}}</h1>

        <h1>Students of the School {{RetrieveSO.scname}} is</h1>
        
        {% for sto in RetrieveSO.students.all %}
            <h2>Student Name is {{sto.stname}}</h2>
            <h2>Student age is {{sto.stage}}</h2>
        {% endfor %}

        <a href="{% url 'SchoolUpdate' pk=RetrieveSO.pk %}">School_Update</a><br>

        <a href="{% url 'SchoolDelete' pk=RetrieveSO.pk %}">School_Delete</a>

    </center>

{% endblock %}
   